<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I discovered editing video games when I played Warcraft II: Tides of Darkness. I made maps with the provided editor, but in 1998, my world was blown wide open with Starcraft and StarEdit.
        </p>
        <p>
           My first real taste in game development was with StarEdit. I spent my youth setting triggers, tweaking gameplay, and testing hundreds of versions of my maps on the horde of Starcraft players.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Newton Jump Experiment: Where jumping off a pad tells you how many newtons it takes to get off the ground.
            
    			</li>
          <li>
            Three Times the Charm: A fantasy home descorating game.
          <li>
            Holly Jolly Trolly: A twist on the classic trolly problem.
    			<li>
            Galactic Bowling: A classic bowling game where you bowl the planet, on a rainbow, in space!
    			</li>
    			<li>
            Lightspeed Lightsaver: An arcade game where you are a space ambulance and rescue astronauts.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
