<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I discovered editing video games when I played Warcraft II: Tides of Darkness. I made maps with the provided editor, but in 1998, my world was blown wide open with Starcraft and StarEdit.
        </p>
        <p>
           My first real taste in game development was with StarEdit. I spent my youth setting triggers, tweaking gameplay, and testing hundreds of versions of my maps on the horde of Starcraft players.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Event Organizer for Indie Game Con
            
    			</li>
          <li>
            Participated in Global Game Jam and Ludem Dare
          <li>
            Shipped Lightspeed Lifesaver
    			<li>
            Owner of Panguin Games, an independant game company
    			</li>
    			<li>
            Graduated from DeVry Long Beach, BS in Game and Simulation Programming
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
