<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 Cooking! I enjoy making a meal and sharing it with my friends. My latest craze is Pulled Pork! Between sweet bbq sandwiches and savory tacos. You can't go wrong!
			  </li>
			  <li>
				  Video Gaming! I love solo and team games! My favorite games are Starfox, Final Fantasy 3, Mario RPG, Chrono Trigger, Starcraft, Fallout 2, Metal Gear Solid, World of Warcraft, Skyrim, Witcher 3, CS:GO, and PUBG.
			  </li>
			  <li>
				  Zeppelin, my dog! He's a teacup chihuahua. He's black with tan spots, and he sports a spiked collar.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
                      Newton Jump Experiment: Where jumping off a pad tells you how many newtons it takes to get off the ground.
            
    			</li>
          <li>
            Three Times the Charm: A fantasy home descorating game.
          <li>
            Holly Jolly Trolly: A twist on the classic trolly problem.
    			<li>
            Galactic Bowling: A classic bowling game where you bowl the planet, on a rainbow, in space!
    			</li>
    			<li>
            Lightspeed Lightsaver: An arcade game where you are a space ambulance and rescue astronauts.
  			</li>
  		    </ul>
  		    <h3>Associated Groups</h3>
  		    <ul>
  			<li>
           		Bitforest.co
  			</li>
  			<li>
  			EugeneTech
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
